<nav>
    <div class="container">
    <ol class="breadcrumb">
        <li><a href="../">Format Gallery</a></li>
        <li><%= (CATS[cat_id] || {})[:title] || cat_id %></li>
        <li class="active"><%= format_name %></li>
    </ol>
    </div>
</nav>

<section id="format-meta" class="format">
    <div class="container">
        <h1><%= format_name %>:
            <% if cur_lang == 'index' %>
            format specification
            <% elsif cur_lang == 'graphviz' %>
            GraphViz block diagram (.dot) source
            <% else %>
            <%= LANGS[cur_lang][:name] %> parsing library
            <% end %>
        </h1>

        <div class="row">
            <div class="col-md-8">
                <p><%= CommonMarker.render_html(yaml['doc']) if yaml['doc'] %></p>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <% if meta['application'] %>
                    <div class="panel-heading">
                        <h3 class="panel-title">Application</h3>
                    </div>
                    <div class="panel-body">
                        <%= meta['application'] %>
                    </div>
                    <% end %>
                    <% if meta['file-extension'] %>
                    <div class="panel-heading">
                        <h3 class="panel-title">File extension</h3>
                    </div>
                    <div class="panel-body">
                        <%= meta['file-extension'] %>
                    </div>
                    <% end %>
                    <% if meta['license'] or meta['ks-version'] %>
                    <div class="panel-heading">
                        <h3 class="panel-title">KS implementation details</h3>
                    </div>
                    <%   if meta['license'] %>
                    <div class="panel-body">
                        License: <a href="https://spdx.org/licenses/<%= meta['license'] %>.html"><%= meta['license'] %></a>
                    </div>
                    <%   end %>
                    <%   if meta['ks-version'] %>
                    <div class="panel-body">
                        Minimal Kaitai Struct required: <%= meta['ks-version'] %>
                    </div>
                    <%   end %>
                    <% end %>
                    <% if meta['xref'] %>
                    <%   xref = meta['xref'] %>
                    <div class="panel-heading">
                        <h3 class="panel-title">References</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <% ['iso', 'rfc', 'loc', 'pronom', 'wikidata', 'forensicswiki', 'justsolve'].each { |k| %>
                            <%= xref_li(k, xref[k]) %>
                            <% } %>
                        </ul>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <p>
            This page hosts a formal specification of <%= format_name %>
            using <a href="//kaitai.io">Kaitai Struct</a>. This
            specification can be automatically translated into a
            variety of programming languages to get a parsing library.
            </p>

            <ul class="nav nav-pills">
                <% good_langs.each { |lang_id|
                   lang = LANGS[lang_id] %>
                <% if lang_id == cur_lang %>
                <li class="active">
                <% else %>
                <li>
                <% end %>
                <a href="<%= lang_id %>.html" title="<%= format_name %> parsing <%= lang[:name] %> library"><%= lang[:name] %></a></li>
                <% } %>
            </ul>
            </div>
        </div>
    </div>
</section>
